:root {
	--border-radius: 3px;
	--color-light: #eeeeee;
	--color-primary: purple;
	--color-secondary: #EE2222;
	--color-dark: #333333;
	--switch-height: 21px;
}

html {
	background-color: var(--color-light);
	color: var(--color-dark);
}

body {
	margin: 0px;
	padding: 0px;
	position: relative;
}
#container {
	min-height: 100%;
	max-width: 1140px;
	padding: 0px 30px 0px 10px;
	margin: 0px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
#header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100px;
	font-family: 'Arvo', serif;
  font-size: 30px;
	margin-bottom: 30px;
	padding: 20px 0px;
	width: 100%;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .47);
	background-color: var(--color-primary);
}
#header h1 {
	font-size: 2em;
	color: var(--color-light);
}


.switch-container {
  display: flex;
  justify-content: space-evenly; /* Distribute space between sliders */
  width: 100%; /* Set a fixed width for the container */
  margin: 0 auto; /* Center the container */
}

.switch {
  position: relative;
  margin-right: 10px;
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 10px; /* Include a unit for the height */
  width: 10px;
  
}

/* Small screens: Team on one line, Pro Bowl/All Pro on another, Year selectors on another */
@media (max-width: 600px) {
  .switch-container {
    flex-direction: row;
    align-items: center;
  }

  #carFilter {
    width: 100%;
  }

  .switch {
    width: 50%;
    display: inline-block;
    margin-left: 50%;
    display: flex;

    /* Additional styling for switches if needed */
  }

 

  #startYear {
    width: 50%;
    /* Additional styling for year selectors if needed */
  }
  #endYear {
    width: 50%;
  }
  .switchText {
    text-align: right; /* Center the text */
    margin-left: 0px;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px;
  width: 50px;
  height: 26px;
  display: inline-block;  
}


.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 24px;
  left: 1px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.568);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 60%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.switchText {
  display: block;
  text-align: right; /* Center the text */
  margin-left: 60px;
}

.car {
  display: none;
}

.show {
  display: block;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.description {
  width: 100%;
}