:root {
	--border-radius: 3px;
	--color-light: #eeeeee;
	--color-primary: purple;
	--color-secondary: #EE2222;
	--color-dark: #333333;
	--switch-height: 21px;
}

html {
	background-color: var(--color-light);
	color: var(--color-dark);
}

body {
	margin: 0px;
	padding: 0px;
	position: relative;
}
#header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100px;
	font-family: 'Arvo', serif;
  font-size: 30px;
	margin-bottom: 30px;
	padding: 20px 0px;
	width: 100%;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .47);
	background-color: var(--color-primary);
}
#header h1 {
	font-size: 2em;
	color: var(--color-light);
}

